<li>
	<span class="glyphicon glyphicon-earphone"></span>
	<span class="glyphicon glyphicon-hand-up"></span>
	<span><%= subject.call_date %></span>
	<span>call to</span>
	<span><%= subject.call_duration %> mins</span>
</li>