<article class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

	<!-- Widget ID (each widget will need unique ID)-->
	<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">
		<!-- widget options:
		usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

		data-widget-colorbutton="false"
		data-widget-editbutton="false"
		data-widget-togglebutton="false"
		data-widget-deletebutton="false"
		data-widget-fullscreenbutton="false"
		data-widget-custombutton="false"
		data-widget-collapsed="true"
		data-widget-sortable="false"

		-->
		<header>
			<span class="widget-icon"> <i class="fa fa-table"></i> </span>
			<h2>Normal Table</h2>

		</header>

		<!-- widget div-->
		<div>

			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<!-- This area used as dropdown edit box -->

			</div>
			<!-- end widget edit box -->

			<!-- widget content -->
			<div class="widget-body">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Tags</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<%= link_to pages_status_path do %>
										All
									<% end %>
								</td>
							</tr>
						<% @all_tags.each do |tag| %>
								<tr>
									<td>
										<%= link_to pages_status_path(:tag => tag.name) do %>
										<%= tag.name %>
										<% end %>
									</td>
								</tr>
						<% end %>
						</tbody>
					</table>
					
				</div>
			</div>
			<!-- end widget content -->

		</div>
		<!-- end widget div -->

	</div>
	<!-- end widget -->
</article>