<div class="container">
	<div class="row">
		<h1>Opportunities Abound</h1>
		<p>This project is all about nurturing your network. Know for sure how it's going with people. At a glance, know who you need to get back to, and who has the ball in their court.</p>
		<p>There will be lots of work to get this off the ground, but my goals are:</p>
		<ul class="list">
			<li><p><strong>Grow Opportunities</strong>
				You know that opportunities come from relationships. Let's create more opportunities by taking better care of more people.</p>
			</li>
			<li><p><strong>Reduce Stress</strong>
				If you care about a lot of people, it's stressful to think you're dropping the ball somewhere. Let's reduce the mental stress of wondering where you're at with people.</p>
			</li>
			<li><p><strong>Focus</strong>
				There is too much noise coming from the web and our devices, to the detriment of real progress. Let's kill the noise by building a one-stop shop for all the ways we professionally communicate one-on-one, with phone, text, email, meetings, meetups, lunches, Facebook, WhatsApp, LinkedIn, and on and on.</p>
			</li>
		</ul>
		<h1>What Does This App Do?</h1>
		<p>It pulls together a bunch of communications data to give you a picture of what actions you should take in your network.</p>
		<p>Whether you use LinkedIn, email, or your phone to get in touch with people, it's still the same person on the other side-- so this app synthesizes across those communications tools to give you a clear picture.</p>
		<h3>Current Features</h3>
		<ul>
			<li>Create tags for contacts for easier tracking</li>
			<li>See who you need to get back to, and when you last connected</li>
			<li>See who you are waiting on for a response, and how long you've been waiting</li>
		</ul>
		<hr class="hr"/>
		<h1>Setting Up External Sources</h1>
		<hr class="hr"/>
		<h3>Gmail</h3>
		<p>You'll need a gmail email account. Provide your email login and password. Both will be encrypted and stored in a secure database. The app will grab information about your recent email messages-- not the content, but just dates and recipients.</p>
		<h3>LinkedIn</h3>
		<p>Provide your LinkedIn email address and password. Again, both will be encrypted and securely stored. We'll fetch info about all your invitations and messages -- your private, one-on-one communications.</p>
		<h3>Verizon</h3>
		<p>For phone and text comms, the app will log into your account to get info about your call and SMS/MMS history. Verizon is delayed by up to a day in some cases. You will need to know your login information for the primary account holder. It might not be you. You will also need to know the answer to the secret question posed to the primary account holder when logging in. Like all other sensitive data, the app encrypts this and safely protects it.</p>
		<hr class="hr"/>
		<h1>The Team</h1>
		<p>You're on the early adopter, product development team. I need your help making this useful so we can serve anyone who cares about their network, and make them even better at it.</p>
		<p>I'll be asking for feedback weekly, taking surveys for new features, asking about your experience, and generally keeping you happy (or trying to).</p>
		
		