$('#contactDetail').html("");
$('#contactDetail').append("<h1><%= @contact.handle_linked_in %></h1>");
<% @touchpoints.each do |t| %>
	$('#contactDetail').append(
		"<%= j render partial: "/touchpoints/partials/#{t.name}_#{t.direction}_current_user", :locals => { :subject => t.subject} %>"
		);
<% end %>
