<div class="container">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li class="active"><a href="#contactInbound" role="tab" data-toggle="tab">Waiting on you</a></li>
	  <li><a href="#contactOutbound" role="tab" data-toggle="tab">Waiting on them</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="contactInbound">
			<% @contacts_inbound.each do |contact| %>
				<%= render '/pages/contacts/open_comms', :contact => contact %>
			<% end %>
		</div>
		<div class="tab-pane" id="contactOutbound">
			<% @contacts_outbound.each do |contact| %>
				<%= render '/pages/contacts/open_comms', :contact => contact %>
			<% end %>
		</div>
	</div><!-- / tab content -->
</div>