<div id="ribbon">
		<div class="well well-sm well-light">
			<h4 class="txt-color-blue">Pie <span class="semi-bold">Chart</span> <a href="javascript:void(0);" class="pull-right"><i class="fa fa-refresh"></i></a></h4>
			<br>
			<div class="text-center">
				<div class="sparkline txt-color-blue display-inline" 
				data-sparkline-type="pie" 
				data-sparkline-offset="90" 
				data-sparkline-piesize="75px">3,5,2</div>
				<div class="sparkline txt-color-blue display-inline" 
				data-sparkline-type="pie" 
				data-sparkline-offset="90" 
				data-sparkline-piesize="75px">30,20,15,35</div>
			</div>

		</div>
</div>
