<h3>Tags</h3>
		<%= text_field_tag 'newTag', nil, placeholder: 'Create a tag', class: 'form-control' %>
		<%= submit_tag 'Add', class: 'btn btn-success', id: 'formSubmit' %>
		<%= hidden_field_tag 'contact', contact %>
<hr class="hr"/>

<script>
$('#formSubmit').click(function(){
	var tags = $('input#newTag').val();
	var contact = $('#contact').val();
	var params = '?tags=' + tags + '&contact=' + contact;
	var url = '/pages/add_tags' + params;
	$.get(url);
});
</script>