<div class="container">
	<div class="row">
		<div class="col-xs-2" id="contactList">
			<ul>
				<% @contacts.each do |contact| %>
					<li>
						<a class="contactName" data-contactId="<%= contact.id %>">
							<h3><%= contact.handle_linked_in %></h3>
						</a>
					</li>
				<% end %>
			</ul>	
		</div><!-- / col contact list-->
		<div class="col-xs-10">
			<ul id="contactDetail">
				<% if @contact_highlight %>
					<h1><%= @contact_highlight.handle_linked_in %></h1>
					<% @contact_highlight.touchpoints.order(:touchpoint_date).reverse.each do |t| %>
							<%= render partial: "/touchpoints/partials/#{t.name}_#{t.direction}_current_user", :locals => { :subject => t.subject} %>
					<% end %>
				<% end %>
			</ul>
		</div><!-- / col contact detail -->
	</div><!-- /row -->
</div> <!-- container-->

<script>
$('.contactName').click(function(){
	var contactId = $(this).attr("data-contactId");
	$.get('/pages/get_touchpoints?contact_id=' + contactId);
})
</script>