// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-navy {
  background-color: #000080;
  color: #FFFFFF;
}

.btn-charcoal-gray {
  background-color: #3c4142;
  color: #FFFFFF;
}

.btn-black {
  background-color: #000000;
  color: #FFFFFF;
}
.btn-gray {
  background-color: #848484;
  color: #FFFFFF;
}
.btn-taupe {
  background-color: #F5F5DC;
  //color: #FFFFFF;
}
.btn-light-gray {
  background-color: #d3d3d3;
  //color: #FFFFFF;
}
.btn-royal-purple {
  background-color: #4b006e;
  color: #FFFFFF;
}

.btn-fuchsia {
  background-color: #ed0dd9;
  //color: #FFFFFF;
}
.btn-magenta {
  background-color: #ff00ff;
  //color: #FFFFFF;
}
.btn-deep-hot-pink {
  background-color: #ff69b4;
  //color: #FFFFFF;
}
.btn-shocking-pink {
  background-color: #fe02a2;
  //color: #FFFFFF;
}
.btn-red {
  background-color: #ff0000;
  color: #FFFFFF;
}
.btn-emerald {
  background-color: #028f1e;
  color: #FFFFFF;
}
.btn-green {
  background-color: #089404;
  color: #FFFFFF;
}
.btn-light-green {
  background-color: #96f97b;
  //color: #FFFFFF;
}
.btn-lemon-yellow {
  background-color: #fdff52;
  //color: #FFFFFF;
}
.btn-chinese-blue {
  background-color: #448ee4;
  color: #FFFFFF;
}
.btn-turquoise {
  background-color: #0ffef9;
  //color: #FFFFFF;
}
.btn-royal-blue {
  background-color: #4169e1;
  color: #FFFFFF;
}