 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/pages/status">Status</a></li>
        <li><a href="/pages/get_google_contacts">Get Google Contacts</a></li>
        <li><a href="/pages/setup_connections">Set Up External Sources</a></li>			
        <li><a href="/new_comms">Data Status</a></li>			
        <li><a href="#" data-toggle="modal" data-target="#vaultModal">Fetch Data</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->