 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/pages/status">Status</a></li>
        <li><a href="/pages/synthesize_contacts">Synthesize</a></li>
        <li><a href="/pages/update_data">Update All</a></li>			
      </ul>
    </div><!-- /.navbar-collapse -->