 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/pages/status">Status</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/pages/synthesize_contacts">Synthesize</a></li>
            <li><a href="/pages/update_gmail">Update Email</a></li>
            <li><a href="/pages/update_linked_in">Update Linked In</a></li>
            <li><a href="/pages/update_cell_data">Update Cell Data</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->